
.mat-cell, .mat-header-cell {
  padding: 0px 10px;
}

.mat-column-title {
  width: 100%;
  text-align: left;
}

.mat-column-value {
  text-align: right;
}

.mat-column-origin {
  text-align: center;
}

.dense {
  .mat-header-cell, .mat-cell {
    padding: 0px 4px;
    &:first-of-type {
      padding-left: 4px;
    }
    &:last-of-type {
      padding-right: 4px;
    }
  }
}
