
form {
  margin-top: 4px;
  display: flex;
  justify-content: center;
  mat-form-field {
    max-width: 300px;
    padding-left: 4px;
    flex-grow: 1;
    &:first-child {
      padding-left: 0px;
    }
  }
}

.mat-cell, .mat-header-cell {
  padding: 0px 10px;
}

.mat-column-title {
  width: 100%;
  text-align: left;
}

.mat-column-value {
  text-align: right;
}

.mat-column-origin {
  text-align: center;
}

.dense {
  .mat-header-cell, .mat-cell {
    padding: 0px 4px;
  }
}
