<br><br>
<form class="center" [formGroup]="dataForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="form">
    <mat-select placeholder="Typ" [formControl]="typeControl">
      <mat-option [value]="1">Einnahme</mat-option>
      <mat-option [value]="-1">Ausgabe</mat-option>
    </mat-select>
  </mat-form-field><br><br>
  <mat-form-field class="form">
    <input matInput type="text" formControlName="title" placeholder="Titel">
  </mat-form-field><br><br>
  <mat-form-field class="form">
    <input matInput type="number" formControlName="value" placeholder="Betrag">
    <mat-icon matSuffix>euro</mat-icon>
  </mat-form-field><br><br>
  <mat-form-field class="form">
    <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field><br><br>
  <button mat-flat-button color="accent" type="submit">Eintragen</button>
</form>

