<mat-card>
  <form [formGroup]="dataForm" (ngSubmit)="save(dataForm.value)">
    <mat-form-field class="form">
      <mat-select placeholder="Typ" [formControl]="typeControl">
        <mat-option [value]="1">Einnahme</mat-option>
        <mat-option [value]="-1">Ausgabe</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form">
      <input matInput type="text" formControlName="title" placeholder="Titel" required>
      <mat-error *ngIf="titleControl.hasError('required')">Das Feld muss ausgefüllt sein</mat-error>
    </mat-form-field>
    <mat-form-field class="form">
      <input matInput type="number" formControlName="value" placeholder="Betrag" required>
      <span matSuffix>€</span>
      <mat-error *ngIf="valueControl.hasError('required')">Das Feld muss ausgefüllt sein</mat-error>
      <mat-error *ngIf="valueControl.hasError('min')">Bitte gebe einen Wert größer 0 ein</mat-error>
    </mat-form-field>
    <mat-form-field class="form">
      <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Datum" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="dateControl.hasError('required')">Das Feld muss ausgefüllt sein</mat-error>
    </mat-form-field>
    <button mat-flat-button color="accent" type="submit">Eintragen</button>
  </form>
</mat-card>

