<div class="grid-container">
  <h1 class="mat-h1">Finman - Dein Finanz Manager</h1>
  <mat-grid-list cols="2" rowHeight="160px" gutterSize="-10px">

    <!-- current month tile -->
    <mat-grid-tile [colspan]="(isSmall$ | async) ? 2 : 1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Aktueller Monat ({{today | date:'MMMM'}})
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <fin-current-month></fin-current-month>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- balance tile -->
    <mat-grid-tile [colspan]="(isSmall$ | async) ? 2 : 1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Saldo
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <fin-balance></fin-balance>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- latest activity tile -->
    <mat-grid-tile [colspan]="(isSmall$ | async) ? 2 : 1" [rowspan]="3">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Letzten {{activityLimit}} Umsätze
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <fin-activity-table [limit]="activityLimit" [dense]="true"></fin-activity-table>
        </mat-card-content>
        <mat-card-actions>
          <a mat-stroked-button routerLink="/activity">Mehr</a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <!-- stats tile -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Statistiken
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <fin-stats></fin-stats>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- chart tile -->
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Chart
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          Hier könnte eine graphische Auswertung dargestellt werden
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<fin-button class="addButton" [class.mobile]="isSmall$ | async"></fin-button>
