<ng-container *ngIf="user$ | async; else loading">
  <fin-navigation>
    <router-outlet></router-outlet>
  </fin-navigation>
  <fin-button *ngIf="isDashboard" class="addButton"></fin-button>
  <div *ngIf="button?.toggled" class="mat-drawer-backdrop mat-drawer-shown" (click)="button.toggle()"></div>
</ng-container>

<ng-template #loading>
  <mat-progress-spinner
    *ngIf="(user$ | async) === undefined; else login"
    mode="indeterminate">
  </mat-progress-spinner>
</ng-template>

<ng-template #login>
  <fin-login></fin-login>
</ng-template>

