h2{
  text-align: center;
}
.dashboard{
  height: 100%;
}
.addButton{
  text-align: center;
  background-color: #3f51b5;
 }
.addButton:active{
  transform: rotate(45deg);
}
.addButton:active::after{
  transform: rotate(45deg);
}
.center{
  text-align: center;
}

