<div class="grid-container">
  <h1 class="mat-h1">Finman - Dein Finance Manager</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    
    <!-- latest activity tile -->
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Umsätze
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <fin-activity [limit]="11"></fin-activity>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    
    <!-- balance tile -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Saldo
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <fin-balance></fin-balance>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  
    <!-- another 1 x 1 tile -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Sonstiges
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          Irgendwelcher Inhalt
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  
    <!-- chart tile -->
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Chart
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          Hier könnte eine graphische Auswertung dargestellt werden
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
